h3 = 'Results'
table.display.responsive.no-wrap.datatable
  thead
    - @attributes.each do |attr|
      td = attr
  tbody
    - @mushrooms.each do |m|
      tr
        - @attributes.each do |attr|
          td = @attr_options[attr][m[attr]]

h4 = 'Filters'
table.display.responsive.no-wrap
  - @attr_options.each do |attr, options| 
    tr
      td
        = link_to 'reset', url_for(@filter.except(attr)) if params.include? attr
      td 
        strong = attr
      - options.each do |key, name|
        td = link_to_unless (params[attr] == key), name, url_for(@filter.merge(attr => key))
